<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pipigrp.pipidemo.dao.LikesMapper">
  <resultMap id="BaseResultMap" type="pipigrp.pipidemo.pojo.Likes">
    <constructor>
      <idArg column="id_like" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pp_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id_like, id, pp_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from likes
    where id_like = #{idLike,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from likes
    where id_like = #{idLike,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="pipigrp.pipidemo.pojo.Likes">
    insert into likes (id_like, id, pp_id
      )
    values (#{idLike,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, #{ppId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="pipigrp.pipidemo.pojo.Likes">
    insert into likes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idLike != null">
        id_like,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="ppId != null">
        pp_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idLike != null">
        #{idLike,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ppId != null">
        #{ppId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pipigrp.pipidemo.pojo.Likes">
    update likes
    <set>
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="ppId != null">
        pp_id = #{ppId,jdbcType=VARCHAR},
      </if>
    </set>
    where id_like = #{idLike,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pipigrp.pipidemo.pojo.Likes">
    update likes
    set id = #{id,jdbcType=VARCHAR},
      pp_id = #{ppId,jdbcType=VARCHAR}
    where id_like = #{idLike,jdbcType=VARCHAR}
  </update>

</mapper>